.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.filters #name, #region {
  margin-right: 20px;
}

.meal-image-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.meal-image-wrapper img {
  width: 30%;
}

.meal-instruction {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
}

#closeDialogButton {
  margin: 15px;
}

.meals-list-wrapper {
  display: flex;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 20px;
}

.meals-list-wrapper .meals-list {
  border: 3px solid black;
  border-radius: 12px;
}